Repository GIGABAIT93/laravel-extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci, enhancement, configuration, stubs

test actions
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/security.yml
Labels: ci

Remove requires_packages from manifest documentation
  README.md
  docs/manifest.md
Labels: documentation

feat: refactor extension system with enhanced methods and optimizations
  src/Entities/Extension.php
  src/Facades/Extensions.php
  src/Services/ExtensionService.php
Labels: enhancement

fix: resolve test failures after extension system refactor
  src/Services/ExtensionService.php
Labels: enhancement

feat: enhance install() method to include migrations and add comprehensive tests
  src/Services/ExtensionService.php
  tests/ExtensionServiceTest.php
Labels: tests, enhancement

refactor: eliminate code duplicates across extension service
  src/Services/ExtensionService.php
Labels: enhancement

feat: comprehensive enhancements with new features and optimizations
  src/Console/Commands/BulkCommand.php
  src/Console/Commands/SearchCommand.php
  src/Console/Commands/StatsCommand.php
  src/Entities/Extension.php
  src/Facades/Extensions.php
  src/Providers/ExtensionsServiceProvider.php
  src/Services/ExtensionService.php
  src/Support/OpResult.php
Labels: enhancement

cs-fix
  src/Console/Commands/BulkCommand.php
  src/Console/Commands/SearchCommand.php
  src/Console/Commands/StatsCommand.php
  src/Entities/Extension.php
  src/Providers/ExtensionsServiceProvider.php
  src/Services/ExtensionService.php
  src/Support/OpResult.php
Labels: enhancement

Optimization
  README.md
  docs/scaffolding.md
  src/Entities/Extension.php
  src/Scaffolding/ExtensionBuilder.php
  src/Services/ComposerService.php
  src/Services/ExtensionService.php
  src/Services/RegistryService.php
  src/Support/JsonFileReader.php
  src/Support/PathResolver.php
  src/Support/ValidationWrapper.php
  tests/ScaffoldBuilderTest.php
Labels: documentation, tests, enhancement

update langs
  lang/en/lang.php
  lang/uk/lang.php
Labels: none

Update .gitignore
  .gitignore
Labels: none

perf: cache registry discovery for runtime warmup
  config/extensions.php
  src/Activators/DbActivator.php
  src/Providers/ExtensionsServiceProvider.php
  src/Scaffolding/ExtensionBuilder.php
  src/Services/BootstrapService.php
  src/Services/ExtensionService.php
  src/Services/RegistryService.php
  tests/BootstrapServiceTest.php
  tests/RegistryServiceCacheTest.php
  tests/TestCase.php
Labels: tests, enhancement, configuration

Add Laravel 13 support
  composer.json
  src/Providers/ExtensionsServiceProvider.php
  tests/ExtensionProviderBootTimingTest.php
  tests/fixtures/scheduled-extension/Modules/Scheduled/Providers/ScheduledServiceProvider.php
  tests/fixtures/scheduled-extension/Modules/Scheduled/extension.json
Labels: tests, dependencies, enhancement

Fix extension warmup boot timing
  src/Providers/ExtensionsServiceProvider.php
Labels: enhancement

Handle missing extensions table during status reads
  src/Activators/DbActivator.php
  tests/DbActivatorTest.php
Labels: tests, enhancement

Fix CI style issues
  src/Activators/DbActivator.php
  tests/ExtensionProviderBootTimingTest.php
Labels: tests, enhancement

Cache database activator statuses
  config/extensions.php
  src/Activators/DbActivator.php
  tests/DbActivatorTest.php
Labels: tests, enhancement, configuration

.github/labeler.yml:

# Configuration for auto-labeling PRs

documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - "docs/**/*"
      - "README.md"
      - "CHANGELOG.md"
      - "*.md"

tests:
  - changed-files:
    - any-glob-to-any-file: "tests/**/*"

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - "composer.json"
      - "composer.lock"

ci:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/**/*"
      - "phpstan.neon"
      - "phpunit.xml"
      - ".php-cs-fixer.php"

enhancement:
  - changed-files:
    - any-glob-to-any-file: "src/**/*"

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - "config/**/*"
      - "database/migrations/**/*"

stubs:
  - changed-files:
    - any-glob-to-any-file: "stubs/**/*"

breaking-change:
  - head-branch: ['feat/*', 'breaking/*']
